@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', cursive;
  margin-left: 54px;  
  
}

body {
  background-color: #1B5050;  
}

h2 {
  color: rgba(255, 255, 255, 0.904);
      font-size: 45px;
    margin-left: -25px;
}


button {
  background-color: #34CB79;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  margin-top: 150px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0;
}

h1 {
  margin-top: 118px;
  color: rgba(255, 255, 255, 0.904);
  font-size: 50px;
  width: 50%;
}

h3 {
  color: #9494A3;
}

img {
  width: 15%;
  margin-left: -50px;
}

div {
  display: flex;
}